ASPNETCORE_ENVIRONMENT=Development

# Ports
API_PORT=5071
POSTGRES_HOST_PORT=5433
POSTGRES_PORT=5432

# Postgres
POSTGRES_USER=CHANGE_ME
POSTGRES_PASSWORD=CHANGE_ME
POSTGRES_DB=InvenireServerDatabase

# Connection string
ConnectionStrings__Connection=Host=postgres;Port=5432;Database=InvenireServerDatabase;Username=CHANGE_ME;Password=CHANGE_ME

# JWT
Jwt__Issuer=Invenire
Jwt__SigningKey=CHANGE_ME_TO_A_LONG_RANDOM_VALUE
Jwt__ExpirationTime=3000000

# SMTP
SMTP__Host=smtp.ethereal.email
SMTP__Port=587
SMTP__Username=CHANGE_ME
SMTP__Password=CHANGE_ME
